In [1]:
import os 
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv("/Users/savannahposner/Desktop/Big_Data/Vine_table.CSV"))
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
9002016,R3ZKCWKG4097P,4.0,12.0,12.0,N,N
9002017,R2D0X18EHNKEOJ,5.0,10.0,13.0,N,N
9002018,R292SJRN80H8OQ,4.0,1.0,6.0,N,N
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N
9002020,R3T0HNHSZUC0ZW,4.0,15.0,15.0,N,N

In [3]:
df_2 = df.loc[df['total_votes'] >= 20]

df_2["helpful/total"] = (
    df_2["helpful_votes"]/df_2["total_votes"]
)
df_2

<ipython-input-3-317597f3037b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["helpful/total"] = (

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y,0.957447
...,...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N,0.937500
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N,1.000000
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N,0.945946
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N,0.972973
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N,0.960000

In [4]:
df_3 = df_2.loc[df_2['helpful/total'] >= .5]
df_3

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y,0.957447
...,...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N,0.937500
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N,1.000000
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N,0.945946
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N,0.972973
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N,0.960000

In [5]:
df_vine_yes = df_3.loc[df_3['vine']=='Y']
df_vine_yes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
7585,R1MAOLI5FJHAFM,4.0,249.0,261.0,Y,N,0.954023
13291,R9PYAUDIBJVEC,4.0,12.0,22.0,Y,N,0.545455
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N,0.918182
38024,R37PVLT6ELL5J4,4.0,181.0,209.0,Y,N,0.866029
88492,R2FSFGWZF24V9,4.0,50.0,51.0,Y,N,0.980392
...,...,...,...,...,...,...,...
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N,0.918367
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N,0.837209
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N,0.565217
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N,0.675000
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N,0.566667

In [6]:
df_vine_no = df_3.loc[df_3['vine']=='N']
df_vine_no

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful/total
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y,0.957447
...,...,...,...,...,...,...,...
9002011,RT1VF6PGA6Q13,5.0,30.0,32.0,N,N,0.937500
9002012,R3IP9GXD7NYPYR,5.0,22.0,22.0,N,N,1.000000
9002013,R344669W03QZ47,4.0,35.0,37.0,N,N,0.945946
9002015,R395SO3AVL1RRC,5.0,72.0,74.0,N,N,0.972973
9002019,R3HA5IXDCVJ65K,5.0,24.0,25.0,N,N,0.960000

In [7]:
df_vine_yes_count = len(df_vine_yes['review_id'])
# df_vine_yes_count
five_star_reviews = len(df_vine_yes.loc[df_vine_yes["star_rating"] == 5])
# five_star_reviews
five_star_percentage = (round(five_star_reviews/df_vine_yes_count,2)*100)
# five_star_percentage
print(f'Vine Yes Table \n'
      f'The total vote count: {df_vine_yes_count} \n'
      f'The five star review count: {five_star_reviews} \n' 
      f'The five star percentage: {five_star_percentage}% \n\n')

df_vine_no_count = len(df_vine_no['review_id'])
# df_vine_yes_count
five_star_reviews_ = len(df_vine_no.loc[df_vine_no["star_rating"] == 5])
# five_star_reviews
five_star_percentage_ = (round(five_star_reviews_/df_vine_no_count,2)*100)
# five_star_percentage
print(f'Vine No Table \n'
      f'The total vote count: {df_vine_no_count} \n'
      f'The five star review count: {five_star_reviews_} \n' 
      f'The five star percentage: {five_star_percentage_}%')

Vine Yes Table
The total vote count: 613
The five star review count: 222
The five star percentage: 36.0%


Vine No Table
The total vote count: 64968
The five star review count: 30543
The five star percentage: 47.0%